<h1> NEWS </h1>
<%= form_tag news_index_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], required: true, placeholder: "Enter title or author" %>
  <%= submit_tag 'Search!' %>
   <% if params[:term].present? %>
    <%= link_to '<button type="button">Cancel</button>'.html_safe, news_index_path %>
  <% end %>
<% end %>
<table border=1>
  <thead>
    <tr>
    	<th>id</th>
    	<th>Title</th>
    	<th>Author</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |new| %>
      <tr>
      	<td><%= new.id %></td>
        <td><%= link_to new.title, "/news/#{new.id}" %></td>
        <td class="tt"><%= new.author %></td>
        <td class="tt"><%= new.published %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= paginate @news %>

<style type="text/css">
  .tt {
    background: #f7d8f6;
  }
  table {
    background: #ABEBC6;
    font-family: arial;
  }
  thead{
    color: black;
    background: #ABB2B9;
  }
</style>

