<!-- <link rel="stylesheet" type="text/css" href="DataTables/datatables.css"/>
<script type="text/javascript" src="DataTables/datatables.js"></script> -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
 <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

 <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
 <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<h1> NEWS </h1>
<table class="display" id="news">
  <thead>
    <tr>
    	<th>id</th>
    	<th>Title</th>
    	<th>Author</th>
      <!-- <th>category</th> -->
      <th>Published</th>

    </tr>
  </thead>

  <tbody>
    <% @news.each do |new| %>
      <tr>
      	<td><%= new.id %></td>
        <td><%= link_to new.title, "/news/#{new.id}" %></td>
        <td><%= new.author %></td>
        <!-- <td><%= new.category %></td> -->
        <td><%= new.published %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('#news').DataTable({
      sPaginationType: "full_numbers"
    });
  });
</script>


